* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FFFFFFF;
    --secondary-color: #E8EDF6;
    --text-color: #000000;
}

body {
    font-family: sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    height: 50px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.inputBox {
    display: flex;
    align-items: center;
    border-width: 0 0 2px 0;
    border-style: solid;
}

.searchInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    width: 200px;
    height: 28px;
    padding-left: 10px;
    border: 0px;
}

.searchImg {
    width: 20px;
    height: 15px;
}

.errorInputBox{
   border-color: red;
}

.errorText{
    display: none;
    color: red;
}
.weatherBox {
    max-width: 400px;
    background-color: transparent;
    color: var(--text-color);
    opacity: 1;
    margin: 30px auto;
    padding: 10px;
    /* border: 1px solid green; */
}

.countryBox {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

.temperatureBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.temperatureContent {
    display: flex;
    font-size: 8em;
    text-align: center;
}

.temperatureTypeBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weatherTypeBox {
    text-align: center;
    padding: 10px;
}

.weatherTypeBox p {
    font-weight: bold;
}

.weatherDetailsBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#weatherImg {
    margin: 15px 0;
}

.detailBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 0;
}

.detailImg {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

button {
    background-color: transparent;
    border: 0;
    color: var(--text-color);
    font-size: 2em;
    padding: 0 10px;
}

button:hover {
    cursor: pointer;
}

.active {
    border: 1px solid green;
    border-radius: 2px;
}

/*button:focus {*/
/*    border: 1px solid green;*/
/*    border-radius: 2px;*/
/*}*/

.weatherFiveDaysContainer {
    /*display: flex;*/
    /*flex-direction: column;*/
    max-width: 800px;
    margin: 60px auto;
    padding: 10px;
    background: var(--secondary-color);
    border-radius: 5px;
}

.weatherFiveDaysHeader {
    margin: 10px 0 20px 0;
}

.weatherFiveDaysCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 160px);
    overflow-x: auto;
}

.weatherCard {
    text-align: center;
}

.weatherCardName {

}

.weatherCardImg {

}

.weatherCardDescription {

}

.weatherCardTemp {
    display: flex;
    justify-content: center;
    margin: 10px;
}