<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <h2>Forecast</h2>
        </div>
        <div class="searchBar">
            <div class="inputBox">
                <input
                        id="weatherInput"
                        type="text"
                        class="searchInput"
                        placeholder="City"
                />
                <img
                        src="<%= require('./assets/search.svg') %>"
                        class="searchImg"
                        alt="search"
                />
            </div>
            <p class="errorInput"></p>
        </div>
    </header>
    <main>
        <div class="weatherBox">
            <div class="countryBox">
                <p id="country"></p>
            </div>
            <div class="temperatureBox">
                <div class="temperatureContent">
                    <p id="temperature" class="temperature"></p>
                    <label for="temperature" class="temperatureUnit">°</label>
                </div>
                <div class="temperatureTypeBox">
                    <button id="btnCelsius" class="btn-celsius active">C</button>
                    <button id="btnFahrenheit" class="btn-fahrenheit">F</button>
                </div>
            </div>
            <div class="weatherTypeBox">
                <p id="type"></p>
                <img
                        src=""
                        alt="weatherImage"
                        id="weatherImg"
                        height="64px"
                        width="64px"
                />
            </div>
            <div class="weatherDetailsBox">
                <div class="detailBox">
                    <img
                            src="<%= require('./assets/visibility.svg') %>"
                            alt="·"
                            class="detailImg"
                    />
                    <p id="vis_km"></p>
                </div>
                <div class="detailBox">
                    <img
                            src="<%= require('./assets/humidity.svg') %>"
                            alt="·"
                            class="detailImg"
                    />
                    <p id="humidity"></p>
                </div>
                <div class="detailBox">
                    <img
                            src="<%= require('./assets/wind.svg') %>"
                            alt="·"
                            class="detailImg"
                    />
                    <p id="wind_kph"></p>
                </div>
                <div class="detailBox">
                    <img
                            src="<%= require('./assets/barometr.svg') %>"
                            alt="·"
                            class="detailImg"
                    />
                    <p id="pressure_in"></p>
                </div>
            </div>
        </div>

        <div class="weatherFiveDaysContainer">
            <div class="weatherFiveDaysHeader">
                <h3>Forecast for 5 days</h3>
            </div>
            <div class="weatherFiveDaysCards">

            </div>
        </div>
    </main>
</div>
</body>
</html>
